# Geospatial data manipulation
geopandas==0.12.2

# Geometry manipulation and operations
shapely==1.8.5

# Machine learning algorithms
scikit-learn==1.2.2

# YOLO object detection
ultralytics==8.0.20

# Computer vision tasks
opencv-python==4.6.0.66

# Image processing
Pillow==9.2.0

# Raster data manipulation
rasterio==1.3.2

#to download run this command
#pip install -r requirements.txt
